.section-padding-medium{
    padding:40px 0;
}
#section-welcome-header .jumbotron{
    background-image: url("../images/stocks.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
}