.section-padding-medium {
    padding: 40px 0;
}

#sesam-logo {
    margin: 14px 10px 0 0;
    height: 40px;
    width: auto;
}

#logoutForm button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.846;
    color: #666666;
    white-space: nowrap;
    background-color: white;
    border: none;
    outline: none;
}

    #logoutForm:hover, #logoutForm button:hover {
        text-decoration: none;
        color: #141414;
        background-color: #eeeeee;
    }

/*Welcome*/

#section-welcome-header .jumbotron {
    background-image: url("../images/stocks.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
}
/*Stock-List*/
#custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
    }

    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

.hidden-table-row {
    padding: 0 !important;
}

.search-query:focus + button {
    z-index: 3;
}

.search-query:focus {
    width: 260px;
}

.font-color-green {
    color: green;
}

.font-color-red {
    color: red;
}

.font-percent {
    font-weight: bold;
}

.form-stock-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fa-blue {
    color: #3B469D;
}

.jumbotron-transparent {
    background-color: transparent;
}
