@model GameOfStocksHT16.Models.ActivityViewModels.ActivityModel

@{
    ViewData["Title"] = "Aktivitetssida";
}
<section class="section-padding-medium">
    <div class="container">
        <h3>Aktiviteter</h3>
        <hr />
        @foreach (var activity in Model.Activities)
        {
            <img src="@activity.User.PictureUrl" width="75" height="75" class="img-circle" />
            <p class="">
                @activity.User.FullName har
                @if (activity.IsBuying)
                {
                    <span>
                        köpt
                    </span>
                }
                else
                {
                    <span>
                        sålt
                    </span>
                }
                @activity.Quantity st @activity.Name aktier.
            </p>
            <hr />
        }

    </div>
</section>