<form class="navbar-form navbar-left navSearch" role="search">
    <div class="form-group">
        <input [(ngModel)]="searchFilter" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Search">
    </div>
        <ul *ngIf="searchFilter" class="list-group" style="position: absolute;">
            <li *ngFor='let stock of stocks | stockFilter:searchFilter' class="list-group-item">
                <a (click)="clearSearch()" [routerLink]="['/stock', stock.label]">{{stock.name}}</a>
            </li>
        </ul>
</form>