@model AllUsersViewModel
@{
    ViewData["Title"] = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding-medium">
    <div class="container">
        <h3>Topplista:</h3>
        <div class="panel">
            @foreach (var item in Model.AllUsers)
            {
                int i = Model.AllUsers.IndexOf(item);
                <div class="panel-body">
                    <h4> @(i+1).
                        <a asp-action="VisitProfile" asp-route-email="@item.Email">
                           @item.Email
                        </a>
                    </h4>
                    <h5>@item.Money kr</h5>
                    
                </div>
            }
        </div>
        <div class=""></div>


    </div>
</section>

@section scripts
{
    <script type="text/javascript">
    </script>
}