@model GameOfStocksHT16.Models.StockTransaction

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section Scripts {
    <script>

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
