@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Registrera";
}
<section class="section-padding-medium">
    <div class="container">
        @*<h3>Associate your @ViewData["LoginProvider"] account.</h3>*@
        <div class="col-md-10 col-md-offset-1">
            <h3>@ViewData["Title"]</h3>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="well">

                <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @*<p class="text-info">
                            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                            Please enter an email address for this site below and click the Register button to finish
                            logging in.
                        </p>*@
                    <div class="form-group">
                        <label asp-for="FullName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FullName" readonly="readonly" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>

                        <div class="col-md-10">
                            <input asp-for="Email" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <input asp-for="PictureUrl" type="hidden" />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">Registrera</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
