@{
    ViewData["Title"] = "About";
}
<div class="section-padding-medium">
    <div class="container text-center">
        <div class="jumbotron">
            <h3>Såhär funkar det!</h3>
            <p>Alla startar med 100 000 kr....</p>
            <p>
                <i class="fa fa-money fa-4x fa-blue"></i>
            </p>
            <p class="">Den person med bäst totala portföljutveckling från tävlingens start till slut (13/3 - 7/4) vinner förstapris.
            <p>
                <i class="fa fa-line-chart fa-4x fa-blue"></i>
            </p>
            <p>Samma koncept gäller för prisplats två och tre. Pris delas även ut till den person som under hela tävlingsperioden har den bästa utveckling under en specifik dag</p>
            <p>
                <i class="fa fa-trophy fa-3x fa-blue"></i>
                <i class="fa fa-trophy fa-5x fa-blue"></i>
                <i class="fa fa-trophy fa-2x fa-blue"></i>
            </p>
            <div class="alert alert-danger alert-dismissible">
                <p>
                    <i class="fa fa-exclamation fa-2x "></i>

                </p>
                <p>
                    Plattformen som används är en gratistjänst vilket innebär att på alla transaktioner läggs 15 minuter på, dvs när en order läggs kommer pengarna reserveras i 15 minuter för att sedan köpa på gällande kurs 15 minuter efter ordern. Pga fördröjningen kommer det första köpet vara möjligt från 08.45 och sista köp måste läggas innan 17.15.

                </p>
            </div>

            @*<h5>Tävlingen regler ser ut som följer:</h5>
            <p>
                Tävlingsansvariga förbehåller sig rätten att vid misstanke om fusk diskvalificera deltagare från tävlingen.
            </p>*@
            <h2>Lycka till!</h2>
            <hr/>
            <a asp-controller="Home" asp-action="News" class="btn btn-success">Börja handla</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Yes</h4>

            </div>
            <div class="modal-body">
                <p class=""><i>Mvh Game Of Stocks Developer Team</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>