@{
    ViewData["Title"] = "About";
}
<div class="section-padding-medium">
    <div class="container ">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Såhär funkar det!</h2>
            <p>Alla startar med 100 000 kr i saldo.
                Den person med bäst totala portföljutveckling från tävlingens start till slut (13/3 - 7/4) vinner förstapris. 
            Samma koncept gäller för prisplats två och tre. Pris delas även ut till den person som under hela tävlingsperioden har den bästa utveckling under en specifik dag</p>
            <br />
            <p>
                <i class="fa fa-trophy fa-3x text-info"></i>
                <i class="fa fa-trophy fa-5x text-info"></i>
                <i class="fa fa-trophy fa-2x text-info"></i>
            </p>
            <br/>
                <p class="">
                    Plattformen som används är en gratistjänst vilket innebär att på alla transaktioner läggs 15 minuter på, dvs när en order läggs kommer pengarna reserveras i 15 minuter för att sedan köpa på gällande kurs 15 minuter efter ordern. Pga fördröjningen kommer det första köpet vara möjligt från 09.00 och sista köp måste läggas innan 17.30.
                </p>
                <p class="text-primary">Fördröjningen sker för att användare inte ska kunna utnyttja fördröjningen mellan vår data och den riktiga börsen. Det innebär att köp och sälj priser du ser på sidan kan skilja sig från den du får i en transaktion. Det bästa sättet att lösa detta är att titta vad aktien står i på Avanza eller Nordnet (i inloggat läge) och sedan placera din order.</p>
            <hr/>
                <a asp-controller="Home" asp-action="News" class="btn btn-success">Börja handla</a>
            </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Yes</h4>

            </div>
            <div class="modal-body">
                <p class=""><i>Mvh Game Of Stocks Developer Team</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>