@{
    ViewData["Title"] = "Rules";
}
<div class="section-padding-medium">
    <div class="container ">
        <div class="col-md-8 col-md-offset-2 ">
            <h3>
                Regler
            </h3>
            <p>
                Den person med bäst totala portföljutveckling från tävlingens start till slut (13/3 - 7/4) vinner förstapris. Samma koncept gäller för prisplats två och tre. Pris delas även ut till den person som under hela tävlingsperioden har den bästa utveckling under en specifik dag.
            </p>
            <p>
                Tävlingsansvariga förbehåller sig rätten att vid misstanke om fusk diskvalificera deltagare från tävlingen.
                Plattformen som används är en gratistjänst vilket innebär att på alla transaktioner läggs 15 minuter på, dvs när en order läggs kommer pengarna reserveras i 15 minuter för att sedan köpa på gällande kurs 15 minuter efter ordern. Pga fördröjningen kommer det första köpet vara möjligt från 09.00 och sista köp måste läggas innan 17.30.
            </p>
            <p>
                Alla klagomål och synpunkter hanteras via messenger på Finansutskottets Facebook-sida.
            </p>
            <h3>
                Reservation för fel och brister
            </h3>
            <p>
                Game of Stocks är en tävling producerad ideellt av Sesams medlemmar och använder sig endast av den anledningen av gratis plattformar och tjänster. Detta medför att vi inte kan erbjuda köp och sälj i realtid utan på alla transaktioner läggs 15 minuter fördröjning. Denna tävling skall ses som ett underhållande verktyg för att lära sig hur aktiemarknaden fungerar. Vi reserverar oss för eventuella fel och brister.
            </p>
        </div>
    </div>
</div>
