@{
    ViewData["Title"] = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding-medium">
    <div class="container">
        <div class="panel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="stock-table" class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Change</th>
                                <th>Volume</th>
                                <th>Open</th>
                                <th>Days Low</th>
                                <th>Days High</th>
                                <th>Last Trade Price Only</th>
                                <th>Last Trade Time</th>
                                <th>Last Trade Date</th>
                                <th>Cap</th>
                            </tr>
                        </thead>
                        <tbody id="stock-table-body">
                            @* ROWS ARE FILLED WITH JS *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</section>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modal-stock-title" class="modal-title"></h4>
            </div>
        <hr/>
            <div class="modal-body">
                <div id="modal-stock-info">
                    <p>+0.15%</p>
                    <p>113890</p>
                    <p>196.8</p>
                    <p>196.8</p>
                    <p>197.7</p>
                    <p>197.2</p>
                    <p>10:01am</p>
                    <p>12/20/2016 </p>
                    <p>LargeCap</p>
                </div>
            </div>
        <hr/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
        
        
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $.get("http://localhost:49275/api/stocks", function (data) {
            var i = 0;
            $.each(data,
                function () {
                    //var html = "<tr data-toggle='collapse' data-target='#row" + i + "' class='accordion-toggle'>";
                    var html = "<tr >";

                    html += "<td><a href='' id="+this.label+" class='stock-button' data-toggle='modal' data-target='.bs-example-modal-lg'>" + this.name + "</a></td>";

                    var changeColor;
                    if (parseFloat(this.change) / 100.0 > 0) {
                        changeColor = "red";
                    } else {
                        changeColor = "green";
                    }

                    html += "<td style='color:"+changeColor+"'><b>" + this.change + "</b></td>";
                    html += "<td>" + this.volume + "</td>";
                    html += "<td>" + this.open + "</td>";
                    html += "<td>" + this.daysLow + "</td>";
                    html += "<td>" + this.daysHigh + "</td>";
                    html += "<td>" + this.lastTradePriceOnly + "</td>";
                    html += "<td>" + this.lastTradeTime + "</td>";
                    html += "<td>" + this.lastTradeDate + "</td>";
                    html += "<td>" + this.cap + "</td>";
                    html += "</tr>";

                    //html += "<tr>";
                    //html += "<td colspan='10' class='hidden-table-row'>";
                    //html += "<div class='accordion-body collapse' id='row" + i + "'>";
                    //html += "<form>";
                    //html += "<div class='form-group'>";
                    //html += "     <input type='email' class='form-control' id='amount' placeholder='Amount'>";
                    //html += " <button type=\"submit\" class=\"btn btn-default\">Buy</button>";
                    //html += "</div>";
                    //html += "</form>";
                    //html += "</div>";
                    //html += "</td>";
                    //html += "</tr>";

                    $('#stock-table-body').append(html);
                    //i++;
                    //$('.collapse').on('show.bs.collapse', function () {
                    //    $('.collapse.in').collapse('hide');
                    //});
                });
           
            $('.stock-button')
                .on('click', function() {
                    $('#modal-stock-title').html($(this).attr('id'));
                    console.log($(this).attr('id'));
                });
            $('#stock-table').DataTable({
                "iDisplayLength": 50
            });
        });

    </script>
}