@using Microsoft.AspNetCore.Identity
@using GameOfStocksHT16.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-sm-5 col-md-3">
        @using (Html.BeginForm("Result", "Search", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
        {
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="SearchString" id="search" placeholder="Sök efter användare">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        }
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a title="Hem" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x"></i> <span class="sr-only"></span></a></li>
        <li><a title="Nyhetsbrev" asp-area="" asp-controller="Home" asp-action="News"><i class="fa fa-newspaper-o fa-2x"></i> <span class="sr-only"></span></a></li>
        <li><a title="Aktier" asp-area="" asp-controller="StockList" asp-action="Index"><i class="fa fa-line-chart fa-2x"></i><span class="sr-only"></span></a></li>
        <li><a title="Topplista" asp-area="" asp-controller="Users" asp-action="Leaderboard"><i class="fa fa-trophy fa-2x"></i><span class="sr-only"></span></a></li>
        <li><a title="Aktivitet" asp-area="" asp-controller="Activity" asp-action="Index"><i class="fa fa-eye fa-2x"></i><span class="sr-only"></span></a></li>
        <li><a title="Profil" asp-area="" asp-controller="Users" asp-action="Profile"><i class="fa fa-user fa-2x"></i><span class="sr-only"></span></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-2x fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x"></i> <span class="sr-only"></span></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-2x fa-sign-in"></span></a>
            <ul class="dropdown-menu" role="menu">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </li>
    </ul>
}
