@{
    ViewData["Title"] = "Fel";
}

<div class="container text-center">
    <h1 class="text-danger">Hoppsan..</h1>
    <h3 class="text-danger">Något har gått snett. <i class="fa fa-smile-o"></i></h3>
    <hr/>
    @*<p>
        Why did the Java programmer need glasses?...
    </p>
    <p>
        Because he couldn't C#!
    </p>*@
</div>