@{
    ViewData["Title"] = "Fel";
}

<div class="container">
    <h1 class="text-danger">Hoppsan..</h1>
    <hr/>
    <p>
        Why did the Java programmer need glasses?...
    </p>
    <p>
        Because he couldn't C#!
    </p>
</div>